{{#email-wrapper}}
    {{> header title="Password Updated"}}
    {{#email-content}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
            <tbody>

            {{#row}}<span style="color: #777777;">Hello {{@root.first_name}},</span>{{/row}}
            {{spacer}}
            {{#row}}
                <span style="color: #777777;">
                    We just want notify you that your user password has been updated. If you have any questions please feel free to contact us.
                </span>
            {{/row}}

            {{sign-off}}
            </tbody>
        </table>
    {{/email-content}}
    {{> footer}}
{{/email-wrapper}}
