{{#email-wrapper}}
    {{> header title="Authenticator Revoked"}}
    {{#email-content}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
            <tbody>

            {{#row}}<span style="color: #777777;">Hello {{@root.first_name}},</span>{{/row}}
            {{spacer}}
            {{#row}}
                <span style="color: #777777;">
                    The device: <strong>{{@root.device_name}}</strong> has been removed in your Akirix account.
                </span>
            {{/row}}

            {{sign-off}}
            </tbody>
        </table>
    {{/email-content}}
    {{> footer}}
{{/email-wrapper}}
