$black: #000;
$white: #fff;

// New colors
$gray-color:  #999999 !default;
$black-color: #3C4858 !default;

$black: #000000;
$rgb-black: "0,0,0" !default;
$white: #ffffff;
$rgb-white: "255,255,255" !default;

// Akirix Changes: new colors
$dark-blue: #175989 !default;
$light-blue: #2786c8 !default;
$akx-green: #68af67 !default;
$akx-orange: #ce6631 !default;
$light-grey: #f2f1f3 !default;
$medium-grey: #d2d2d2 !default;
$dark-grey: #535a5c !default;
$akx-mustard: #cab12d !default;
$pink-500: #e91e63 !default;

$akx-body-bg: $white;
$akx-nav-bg: $light-grey;
$left-nav-box-shadow: $medium-grey;
$left-nav-text: $dark-grey;
$hr-nav-item: $dark-blue;
$active-nav-item-bg: $dark-blue;
$active-nav-item-text: $white;
$hr-hide-hack: $medium-grey;
$hover-sub-item: $white;
$top-nav-bg: $white;
$top-nav-sub-item: $dark-blue;
$top-nav-text: $black-color;
$top-nav-text-active: $dark-blue;
$bottom-nav-bg: $dark-blue;
$bottom-nav-text: $white;
$side-panel-bg: $white;
$side-panel-top-nav-bg: $white;
$side-panel-top-nav-icon: $dark-grey;
$akx-button-default: $white;
$akx-header-border-color: $light-grey;
$akx-header-text: $dark-grey;
$over-pane-bg: $akx-body-bg;
$statements-help-text: $dark-grey;
$invite-preview-text: $dark-grey;
$high-charts-text: $dark-grey;
$password-strength-bg: $light-grey;
$file-name-color: $dark-grey;

// Material kit colors
$mk-gray: #555;
$mk-light-gray: #999;
$mk-input-placeholder-color: #AAAAAA;
$mk-input-underline-color: #D2D2D2;
$mk-text-disabled: #a8a8a8;
$mk-bg-disabled: #eaeaea;
$date-picker-medium-bg: #F1EAE0;
$date-picker-pale-bg: #F9F7F3;
$date-picker-font-color: #66615b;
$date-picker-black-color: #3C4858;
$mk-dropdown-header: #777;
$mk-dropdown-link: #333;
$mk-switch-unchecked-bg: #f1f1f1;
$mk-switch-disabled-bg: #bdbdbd;
$mk-popover-bg: rgba(101, 101, 101, 0.9);
$mk-popover-text: #ececec;
$mk-btn-default-border: #ccc;
$legend-bg: $akx-body-bg;
$fieldset-border: $dark-blue;
$card-header-bg: $medium-grey;
$card-header-primary-bg: $dark-blue;
$active-card-header-bg: $dark-blue;
$carousel-indicators-border: $medium-grey;
$form-check-bg: rgba(0,0,0,.84);
$dropdown-menu-box-shadow: rgba(0, 0, 0, 0.26);
$dropdown-menu-text: $dark-grey;
$has-error-linear-gradient: rgba(210, 210, 210, 0);
$bmd-layout-bg: rgba(0, 0, 0, 0.5);
$highlight-color: rgba(255, 255, 255, 0);
$modal-backdrop-bg: rgba(0,0,0,0.3);
$modal-backdrop-opacity: 0.26;
$medium-nav-item: #e5e5e5;
$section-light-gray: #eee;
$section-image-bg: #343434;
$section-image-radial-gradient-black: #232323;
$section-image-radial-gradient-gray: #585858;
$section-image-after: rgba(0,0,0,.7);
$table-tfoot-border: #ddd;
$nav-tabs-nav-links-text: rgba(255,255,255,0.5);
$nav-tabs-nav-link-active: rgba(255,255,255, .2);
$toggle-button-checkbox-bg: rgba(80, 80, 80, 0.7);
$toggle-button-after-box-shadow: rgba(0, 0, 0, 0.4);
$toggle-button-after-box-shadow-disabled: rgba(0, 0, 0, 0.1);
$card-bg: $akx-body-bg;
$card-text: $dark-grey;
$card-header-text: $white;
$akx-button-blue: $dark-blue;
$text-primary: $dark-blue;
$type-option-text: $dark-blue;
$type-option-shadow: $dark-blue;
$step-group-text: $medium-grey;
$step-group-item-active: $black;
$date-picker-active-bg: $dark-blue;
$date-picker-hover-bg: $section-light-gray;
$date-picker-disabled-text: $light-grey;
$toggle-text: $white;
$toggle-checked-bg: $white;
$toggle-disabled-bg: $black;

// Bootstrap colors
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$table-head-bg: $gray-200;
$akirix-blue-hover-table: rgba(23, 89,127,0.05);
$table-accent-bg: rgba($black, .05) !default;
$table-hover-bg: $akirix-blue-hover-table;
$table-active-bg: $table-hover-bg;
$table-border-color: $gray-300;
$table-head-color: $gray-700;
$table-dark-bg: $gray-900;
$table-dark-accent-bg: rgba($white, .05);
$table-dark-hover-bg: rgba($white, .075);
$table-dark-border-color: lighten($gray-900, 7.5%);
$table-dark-color: $akx-body-bg;
$table-row-striped: #f9f9f9;
$table-row-active: $dark-blue;
$input-bg: $white;
$input-disabled-bg: $gray-200;
$input-color: $gray-700;
$btn-default-color: $dark-grey;
$btn-default-bg: $white;
$btn-default-border-color: $dark-grey;
$btn-link-disabled-color: $light-grey;
$modal-content-bg: $white;
$modal-content-border-color: rgba($black, .2);
$tooltip-bg: $akx-body-bg;
$tooltip-arrow-color: $tooltip-bg;
$tooltip-color: $white;
$popover-color: $dark-grey;
$card-body-bg: $akx-body-bg;
$card-active-shadow: $dark-blue;
$card-body-text: $light-blue;
$form-disabled-text: $gray-500;
$mdb-checkbox-checked-color: $dark-blue;
$mdb-checkbox-label-color: rgba(0,0,0, 0.26);
$mdb-checkbox-border-color: rgba(0,0,0, .54);
$mdb-radio-label-color: rgba(0,0,0, 0.26);
$mdb-radio-color-off: rgba(0,0,0, .54);
$mdb-radio-color-on: $dark-blue;
$link-color: $dark-blue;