<div>
    {{#link-to 'authenticated.invoices.bills.view'
        tagName='i'
        class='akx-icon akx-back'}}
    {{/link-to}}
</div>
<div>
    <i class="akx-icon akx-x close-side-panel" {{action 'close'}}></i>
</div>