<div style="margin: 100px auto;">
    <div style="height: 15px; margin-top: -20px;">
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12 align-center">
        </div>

    </div>

    <div class="row">
    </div>
</div>
