<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    <div class="pane-secondary-content">
        <div class="contextual-help">
            <div class="contextual-help-section">
                <p class="contextual-help-header"><span id="i18n-610">Company Relationships</span></p>
                <p><span id="i18n-613">List of clients.</span></p>
            </div>
        </div>
    </div>
</div>
