<label class="setting-theme">
    {{stringList.theme}}
    {{#if settings.dark_mode}}
        <input type="checkbox" checked="true">
    {{else}}
        <input type="checkbox">
    {{/if}}
    <span class="toggle"></span>
</label>