{{#akx-form action=''}}
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-6 m-auto form-group bmd-form-group">
            <label class="bmd-label-floating" for="input-bank-city">Filter templates</label>
            {{input value=query name='filter-query' type='text' class='form-control'}}
        </div>
    </div>
{{/akx-form}}
{{yield items}}