<div class="has-feedback">
    {{#input class=view.inputClass placeholder=view.inputPlaceholder value=view.searchValue}}{{/input}}
    <span class="fa fa-search form-control-feedback search-icon" {{action 'submitSearch' target=view}}></span>
</div>
