<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    <div class="pane-secondary-content">
        <div class="contextual-help">
            <div class="contextual-help-section">
                <p class="contextual-help-header"><span id="i18n-610">Access log</span></p>
            </div>
        </div>
    </div>
</div>