<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    <div class="pane-secondary-content">
        <div class="contextual-help">
            <div class="contextual-help-section">
                <p class="contextual-help-header"><span id="i18n-614">User Profile</span></p>

                <p>
                    <span id="i18n-615">You can update your user profile details here. For security purposes, in order to update your mobile number, please contact Akirix&reg;
                        support directly so we can verify your identity.</span>
                </p>
            </div>
        </div>
    </div>
</div>
