{{#akx-form action='save'isLocked=isLocked }}
    <div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
        <div class="pane-secondary-content">
            <div class="form-group col-xs-6 has-feedback">
                <label>Nick Name</label>
                {{input value=account.name type='text' class='form-control' placeholder='Account Name'}}
                {{validation-feedback errors=errors.account.name validated=validated}}
            </div>
        </div>
    </div>
    <div class="viewport viewport-bottom navbar-toolbar">
        <div class="pane-actions">
            <ul class="list-h">
            </ul>
            <ul class="list-h pull-right">
                <li>
                    <button class="btn btn-default btn-sm navbar-secondary-btn" type="submit"><i
                            class="fa fa-floppy-o"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
{{/akx-form}}
