<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    <div class="pane-secondary-content">
        <h2>Project P-{{model.project.name}} {{model.project.node.name}} Details</h2>
        <p>{{model.project.node.notes}}</p>
    </div>
</div>