<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    <div class="pane-secondary-content">
        <div class="contextual-help">
            <div class="contextual-help-section">
                <p class="contextual-help-header"><span id="i18n-610">Two Factor Authentication</span></p>

                <p><span id="i18n-613">Akirix requires two-factor authentication to access any account. Providing an extra level of authentication prevents unauthorized access to Akirix&reg;
                    account. Providing a password in addition to a unique code sent to the user’s phone each time they attempt to log helps prevent unauthorized account access.</span>
                </p>
            </div>

            <div class="contextual-help-section">
                <p class="contextual-help-header"><span id="i18n-610">Authentication Devices</span></p>

                <p><span id="i18n-613">You can receive Two-Factor Authentication code via text message or you can generate them via the Akirix&reg;
                    Security app which is available for both <a
                            href="https://itunes.apple.com/us/app/akirix-security/id712692282?mt=8"
                            target="_blank">iOS</a> and <a
                            href="https://play.google.com/store/apps/details?id=com.akirix.security&hl=en"
                            target="_blank">Android</a> devices.</span></p>

                <p>If you have been issued an Akirix Key you can generate a single use two factor code by pressing the
                    metallic center button on the device.</p>
            </div>
        </div>
    </div>
</div>
