<div class="large align-center top-buffer">
    Invoice Transaction Volume
</div>
<hr>
{{#each currency in currencies}}
    <div class="row top-buffer">
        {{analytics-internal from_date=from_date to_date=to_date currency=currency}}
    </div>
{{/each}}