<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    {{#each items as |item|}}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>