<div class="form-group no-padding">
    {{view 'select'
           value=value
           content=param.options
           optionValuePath='content.val'
           optionLabelPath='content.label'
           class='form-control input-sm'}}
</div>
