<tr>
    <td align="center">
        <table width="680" border="0" cellpadding="0" cellspacing="0"
               style="font-family:Avenir,Arial,Helvetica,sans-serif;font-size:11px;line-height:16px;color:#999999;text-align:center;border-top: 1px dotted #cccccc">
            <tbody>
            <tr>
                <td height="28"></td>
            </tr>
            <tr>
                <td>CHANGING THE WAY BUSINESS IS PAID FOR</td>
            </tr>
            <tr>
                <td height="28"></td>
            </tr>
            <tr>
                <td height="28"></td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.xxx.com/privacy-policy" style="text-decoration:none;color:#999999;"
                       target="_blank">Privacy Policy</a>
                    &nbsp;|&nbsp;
                    <a href="https://www.xxx.com" style="text-decoration:none;color:#999999;" target="_blank">Terms
                        and Conditions</a>
                </td>
            </tr>
            <tr>
                <td height="28"></td>
            </tr>
            <tr>
                <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0" width="80%" style="text-align: center;">
                        <tbody>
                        <tr>
                            <td>
                                This e-mail message and its attachments are confidential, intended only for the
                                addressee(s) named above and may contain information that is proprietary, privileged or
                                otherwise exempt from disclosure. If you receive this message in error please notify us
                                at support@acme.com and immediately delete this message and its attachments from your
                                system.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="44"></td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>