<div class="row">
    <div class="center_column col-sm-12">
        <h1><i style="color: rgb(153, 153, 153);" class="fa fa-exclamation-triangle text-muted"></i>&nbsp;Looks like something went
            wrong
        </h1>

        <p>Try refreshing your browser. If this is a recurring error you can try the following:</p>
        <ul>
            <li>Clear your cookies and refresh the site:
                <ul>
                    <li><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">Chrome</a></li>
                    <li><a href="http://support.apple.com/kb/ph11920" target="_blank">Safari</a></li>
                    <li><a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank">Firefox</a></li>
                    <li><a href="http://support.microsoft.com/kb/278835" target="_blank">IE</a></li>
                </ul>
            </li>
            <li>Contact support:
                <ul>
                    <li>Phone: <a href="{{controllers.application.company.phone_link}}">{{controllers.application.company.phone}}</a></li>
                    <li>Email: <a href="{{controllers.application.company.email_link}}">{{controllers.application.company.email}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
