<div class="login">
    <header>
        <img src="/assets/img/logo.svg" alt="Logo">
    </header>
    {{#akx-form action='forgot' isLocked=isLocked}}
        <div class="has-feedback">
            {{input value=email type='text' required=true}}
            <label for="email">Email</label>
            {{validation-feedback errors=errors.email validated=validated}}
        </div>
        <button type="submit">Send Instructions</button>
    {{/akx-form}}
    <div class="links">
        {{#link-to 'login' tagName='span'}}Log in{{/link-to}}
    </div>
</div>
