<div class="row">
    <div class="center_column col-sm-12">
        <h1>Page Not Found<br>
            <small>We are unable to find the page you are looking for.</small>
        </h1>
    </div>
</div>