<div class="side-panel-content">
    <header class="akx-header mb-5">
        <span>{{stringList.nodeItems}}</span>
    </header>
    <div class="m-auto w-75">
        {{node-items-list items=model.node.nodeItems edit=false}}
    </div>
</div>