<div>
    {{#link-to 'authenticated.projects.view.invoices.view-invoice'
        tagName='i'
        class='akx-icon akx-back'}}
    {{/link-to}}
</div>
<div>
    <i class="akx-icon akx-rejected" {{action 'close'}}></i>
</div>