<li>
    {{#link-to 'companies.view.documents.uber-documents'}}
        Uber Files
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.documents.platform-documents'}}
        Platform Files
    {{/link-to}}
</li>