<li>
    {{#link-to 'companies.view.wires.wirein'}}
        <i class="fa fa-sign-in fa-lg"></i> Wire In
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.wires.wireout'}}
        <i class="fa fa-sign-out fa-lg"></i> Wire Out
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.wires.book-transfer'}}
        <i class="fa fa-retweet fa-lg"></i> Internal Transfer
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.wires.internal-account'}}
        <i class="fa fa-retweet fa-lg"></i> Account Transfer
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.wires.download'}}
        <i class="fa fa-download fa-fw"></i> Download
    {{/link-to}}
</li>