<li>
    {{#link-to 'companies.view.commissions.overview'}}
        Overview
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.commissions.index'}}
        Commissions
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.commissions.payments'}}
        Payment History
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.commissions.add'}}
    <i class="fa fa-plus-circle fa-fw"></i>Add Commission
    {{/link-to}}
</li>