<li>
    {{#link-to 'companies.view.index'}}
        Details
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.fees'}}
        Manage Fees
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.account-aliases'}}
        Preferred Accounts
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.wire-instructions'}}
        Wire Instructions
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.company-documents'}}
        Company Documents
    {{/link-to}}
</li>