<li>
    {{#link-to 'companies.view.users' href=false class=""}}
        Users
    {{/link-to}}
</li>
<li>
    {{#link-to 'companies.view.institution-users' href=false class=""}}
        Institution Users
    {{/link-to}}
</li>
