<div class="row top-buffer">
    <div class="col-md-6 col-center text-center">
        <div style="height: 20px;"></div>
        <h2>You have submitted a duplicate wire request</h2>

        <div style="height: 30px;"></div>
        <p class="medium">
            Please wait a few seconds and try again.
        </p>
    </div>
</div>
<div class="text-center">
    <ul class="list-h">
        <div style="height: 30px;"></div>
        <li>
            <a {{action 'closePane'}} href="javascript:void(0)" class="text-orange">Close</a>
        </li>
    </ul>
</div>
<div class="text-center">
    <ul class="list-h">
        <li><a {{action 'goBack'}} href="javascript:void(0)" class="text-orange">Cancel
            &amp; Go
            Back</a>
        </li>
    </ul>
</div>
