<div class="no-padding">
    <div class="x-large" style="text-align:center; margin-top: 300px; height: 100%; width: 100%;">
        <span class="text-gray-light" style="font-size: 100px;">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>
</div>