<div id="sticky-toolbar">
    <ul>
        {{#link-to 'uber-users.view' tagName="li" class="text-white"}}
            <i class="fa fa-user fa-lg"></i><br/>
            Profile
        {{/link-to}}
        {{#link-to 'authenticators.index' tagName="li" class="text-white"}}
            <i class="fa fa-shield fa-lg"></i><br/>
            Auth
        {{/link-to}}
        {{#link-to 'uber-user-caches.index' tagName="li" class="text-white"}}
            <i class="fa fa-history"></i><br/>
            Uber User History
        {{/link-to}}
    </ul>
</div>