<div id="sticky-toolbar">
    <ul>
        {{#link-to 'uber-pwned.index' tagName="li" class="text-white"}}
            <i class="fa fa-hand-scissors-o fa-lg"></i><br/>
            Pwned
        {{/link-to}}
        {{#link-to 'access-logs.index' tagName="li" class="text-white"}}
            <i class="fa fa-key fa-lg"></i><br/>
            Access Log
        {{/link-to}}
        {{#link-to 'uber-sar-reports.index' tagName="li" class="text-white"}}
            <i class="fa fa-exclamation-triangle fa-lg"></i><br/>
            SAR Reports
        {{/link-to}}
    </ul>
</div>
