<div class="no-padding">
    <div class="panel panel-default" style="width: 500px; margin: 50px auto;">
        <div class="panel-heading text-center">
            Reset Your Password
        </div>
        <div style="padding: 20px;">
            <p>Please type in your new password.</p>

            {{#akx-form action='reset' isLocked=isLocked}}
                <div {{bind-attr class=':form-group :no-margin errors.password:has-error'}}>
                    {{input value=password type='password' class='form-control' placeholder='New Password'}}
                </div>
                <br/>

                <div {{bind-attr class=':form-group :no-margin errors.passwordConfirmation:has-error'}}>
                    {{input value=passwordConfirmation type='password' class='form-control' placeholder='Confirm New Password'}}
                </div>
                <br/>

                <div class="valign-middle">
                    <div class="pull-left">
                        {{#link-to 'login' class='btn btn-sm btn-default'}}Back To Login{{/link-to}}
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary" type="submit">Update Password</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            {{/akx-form}}
        </div>
    </div>
</div>
