<div class="navbar-secondary" role="navigation">
    <ul class="list-h">
        <li>
            {{#link-to 'uber-monitoring-rules.index.add'}}
                Add Monitoring Rule
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'uber-monitoring-rules' (query-params status= 1 )}}
                Active
            {{/link-to}}

        </li>
        <li>
            {{#link-to 'uber-monitoring-rules' (query-params status= 0 )}}
                Inactive
            {{/link-to}}
        </li>
    </ul>
</div>

<div class="viewport viewport-full viewport-content-with-nav">
    <div class="viewport-t-pane-primary viewport-t-pane-primary-with-toolbar scroll-y">
        <div class="pane-primary">
            {{outlet 'panePrimary'}}
        </div>
    </div>
    <div class="viewport-right pane pane-secondary">
        {{outlet 'paneSecondary'}}
    </div>
</div>