$table-bg-accent: rgba($black, .03);
$table-border-color: rgba($black, .06);
$table-bg-hover: rgba($black, .02); // Grey 100 (on white background)

$bmd-table-header-font-size: .95rem;
$bmd-table-border-color-inverse: rgba($white, .06);
