@font-face {
  font-family: 'akx-icons';
  src:  url('/fonts/icomoon.eot?x8b7dd');
  src:  url('/fonts/icomoon.eot?x8b7dd#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?x8b7dd') format('truetype'),
  url('/fonts/icomoon.woff?x8b7dd') format('woff'),
  url('/fonts/icomoon.svg?x8b7dd#akx-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.akx-icon {

  font-family: 'akx-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.akx-accounts:before {
  content: "\e900";
}

.akx-ach-transfer:before {
  content: "\e901";
}

.akx-account-holder:before {
  content: "\e902";
}

.akx-book-transfer:before {
  content: "\e903";
}

.akx-outline:before {
  content: "\e904";
}

.akx-external-bank:before {
  content: "\e905";
}

.card-services:before {
  content: "\e906";
}

.akx-dashboard:before {
  content: "\e907";
}

.akx-delete:before {
  content: "\e908";
}

.akx-edit-check:before {
  content: "\e909";
}

.akx-edit-pencil:before {
  content: "\e90a";
}

.akx-euro:before {
  content: "\e90b";
}

.akx-foreign-exchange:before {
  content: "\e90c";
}

.akx-gbp:before {
  content: "\e90d";
}

.akx-invoices:before {
  content: "\e90e";
}

.akx-letter-of-credit:before {
  content: "\e90f";
}

.akx-recurring:before {
  content: "\e910";
}

.akx-money-transfer:before {
  content: "\e911";
}

.akx-pending:before {
  content: "\e912";
}

.akx-personal-account:before {
  content: "\e913";
}

.akx-print:before {
  content: "\e914";
}

.akx-projects:before {
  content: "\e915";
}

.akx-recent-transfer:before {
  content: "\e916";
}

.akx-settings:before {
  content: "\e917";
}

.akx-success:before {
  content: "\e918";
}

.akx-templates:before {
  content: "\e919";
}

.akx-text-message:before {
  content: "\e91a";
}

.akx-transaction:before {
  content: "\e91b";
}

.akx-transfer:before {
  content: "\e91c";
}

.akx-usd:before {
  content: "\e91d";
}

.akx-wire-instructions:before {
  content: "\e942";
}

.akx-wire-transfer:before {
  content: "\e91f";
}

.akx-yubikey:before {
  content: "\e920";
}

.akx-notifications:before {
  content: "\e921";
}

.akx-search:before {
  content: "\e922";
}

.akx-calendar:before {
  content: "\e923";
}

.akx-rejected:before {
  content: "\e924";
}

.akx-submitted:before {
  content: "\e925";
}

.akx-cancelled:before {
  content: "\e926";
}

.akx-requests:before {
  content: "\e927";
}

.akx-log-out:before {
  content: "\e928";
}

.akx-partial-paid:before {
  content: "\e929";
}

.akx-node-items:before {
  content: "\e93a";
}

.akx-vip-connect:before {
  content: "\e93b";
}

.akx-buying:before {
  content: "\e93c";
}

.akx-make-offer:before {
  content: "\e93f";
}

.akx-selling:before {
  content: "\e93e";
}

.akx-offers:before {
  content: "\e93d";
}

.akx-pending-invite:before {
  content: "\e930";
}

.akx-pending-invoice:before {
  content: "\e931";
}

.akx-create-project:before {
  content: "\e932";
}

.akx-paid-invoice:before {
  content: "\e933";
}

.akx-partial-invoice:before {
  content: "\e934";
}

.akx-commit:before {
  content: "\e935";
}

.akx-left:before {
  content: "\e936";
}

.akx-pending-in:before {
  content: "\e937";
}

.akx-pending-out:before {
  content: "\e938";
}

.akx-right:before {
  content: "\e939";
}

.akx-warning:before {
  content: "\e92a";
}

.akx-create-invoice:before {
  content: "\e92b";
}

.akx-download:before {
  content: "\e92c";
}

.akx-document:before {
  content: "\e92d";
}

.akx-empty-file:before {
  content: "\e92e";
}

.akx-camera:before {
  content: "\e92f";
}

.akx-attachment:before {
  content: "\e9cd";
}

.akx-mobile:before {
  content: "\e958";
}

.akx-tablet:before {
  content: "\e95a";
}

.akx-cogs:before {
  content: "\e995";
}

.akx-plus:before {
  content: "\e91e";
}

.akx-exclamation:before {
  content: "\e941";
}

.akx-btc:before {
  content: "\e940";
}

.akx-x:before {
  content: "\e943";
}

.akx-back:before {
  content: "\e944";
}

.akx-down:before {
  content: "\e92f";
}

.akx-nav-back::before {
  content: "\e945";
}

.akx-edit-menu::before {
  content: "\e946"
}

.akx-faq::before {
  content: "\e947"
}
